/* navbar */

#navigation {
  background-color: #373737F2;
  font-family: 'Inter Thin BETA';
  font-style: normal;
  height: 8vh;
  --bs-navbar-padding-x: 35px;
  top: -1px;
}

#nav-logo {
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}

#nav-logo, .nav-link {
  color: white;
  letter-spacing: 1px;
}

#navigation .nav-item:not(:last-child) {
  margin-right: 100px;
  font-size: 15px;
}

#sign-up-btn::before {
  content: '';
  background-color: white;
  width: 125px;
  height: 8vh;
  position: absolute;
  z-index: -1;
  right: 22px;
  bottom: 0;
}

#sign-up-btn a {
  color: black;
  font-family: 'Inter Regular';
  font-weight: bold;
}

#login-btn::before {
  content: '';
  background-color: white;
  width: 125px;
  height: 8vh;
  position: absolute;
  z-index: -1;
  right: 22px;
  bottom: 0;
}

#login-btn a {
  color: white;
  font-family: 'Inter Regular';
  font-weight: bold;
}

section {
  min-height: 80vh;
}

/* header */

.home-bg-images {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#home {
  background-image: url("../../assets/img/home-image.png");
  background-position: center;
  overflow: hidden;
}

#home-right-col {
  margin-top: 150px;
}

.header {
  color: white;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 100%;
  transition: width 0.3s ease;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}

.btn:focus, .input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(198px);
}

/* rent section */
#rent {
  background-image: url("../../assets/img/rent-bg.png");
  background-position: center;
  overflow: hidden;
  background-size: 90% 90%;
}

.rent-section {
  background-repeat: no-repeat;
  position: relative;
}

#left-col-black-box {
  background-color: rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 200px;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 700px;
}

#left-col-black-box h2 {
  color: white;
  margin-left: 20px;
}

#left-col-black-box h3 {
  color: #32CD32;
  margin-left: 20px;
}

#btn {
  position: relative!important;
  left: 0;
  top: 0;
  margin-left: 20px;
}

.green-buttons {
  position: absolute;
  width: 170px;
  height: 26px;
  background-color: #5BB92E;
  border-radius: 10px;
  font-family: 'Inter Regular';
  font-size: 12px;
  border-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  line-height: 0;
}

/* sell section */
#sell {
  background-image: url("../../assets/img/sell-bg.png");
  background-position: center;
  overflow: hidden;
  background-size: 90% 90%;
}

.sell-section {
  background-repeat: no-repeat;
  position: relative;
}

#right-col-black-box {
  background-color: rgba(0, 0, 0, 0.5);
  width: 600px;
  height: 200px;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 150px;
}

#right-col-black-box h2 {
  color: white;
  margin-left: 20px;
}

#right-col-black-box h3 {
  color: #32CD32;
  margin-left: 20px;
}

/* About Us Section */

#about-us {
  position: relative;
  background-image: url("../../assets/img/about/about-us-bg.png");
  background-size: cover;
}

#about-us-top-image {
  background-image: url("../../assets/img/about/about-us-top.png");
  height: 100px;
}

.top-images {
  width: 100%;
  position: absolute;
  background-size: contain;
  top: 0;
  height: 100%;
  background-repeat: no-repeat;
}

#center-box {
  background-image: url("../../assets/img/about/about-us-center-image.png");
  background-repeat: no-repeat;
  width: 785px;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-size: contain;
}

#center-box p {
  color: white;
  text-align: justify;
  margin-top: 30px;
  max-width: 575px;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
}

#about-left-col {
  border-right: 0.5px solid #000000;
}

#about-right-col {
  border-left: 0.5px solid #000000;
}

.black-boxes {
  width: 500px;
  height: 200px;
  background: #393939;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  margin: 0 auto;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.black-boxes p:nth-child(1) {
  font-size: 12px;
  margin: 20px;
}

.black-boxes p:nth-child(2) {
  font-size: 14px;
}
