* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* navbar */

#navigation {
  background-color: #373737F2;
  font-family: 'Inter Thin BETA';
  font-style: normal;
  height: 8vh;
  --bs-navbar-padding-x: 35px;
  top: -1px;
}

#nav-logo {
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}

#nav-logo, #navigation .nav-link {
  color: white;
  letter-spacing: 1px;
}

#navigation .nav-item {
  display: flex;
  align-items: center;
}

#navigation .nav-item {
  font-size: 15px;
}

#navigation .nav-item:not(:last-child) {
  margin-right: 50px;
}

#navigation .nav-item:nth-child(3) a {
  display: flex;
  align-items: center;
}

#navigation .dropdown a {
  color: white;
  text-decoration: none;
}

#navigation .dropdown-menu {
  background-color: gray;
  font-weight: bold;
}

#navigation .dropdown-menu a {
  font-weight: bold;
}

.nav-link .far {
  font-size: 25px;
  position: relative;
  top: 0;
  right: 5px;
}

section {
  min-height: 80vh;
}

textarea {
  resize: none;
}

/* header */

.home-bg-images {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#home {
  background-image: url("../../assets/img/home-image.png");
  background-position: center;
  overflow: hidden;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.btn:focus, .input:focus {
  outline: none;
}

/* rent section */

#rent, #buy {
  background-image: url("../../assets/img/rent-bg.png");
  background-position: center;
  overflow: hidden;
  background-size: 90% 90%;
}

.rent-section {
  background-repeat: no-repeat;
  position: relative;
}

#left-col-black-box {
  background-color: rgba(0, 0, 0, 0.5);
  width: 500px;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 130px;
}

#left-col-black-box h2 {
  color: white;
  margin-left: 20px;
}

#btn {
  position: relative !important;
  left: 0;
  top: 0;
  margin-left: 20px;
}

.green-buttons {
  position: absolute;
  width: 170px;
  height: 26px;
  background-color: #5BB92E;
  border-radius: 10px;
  font-family: 'Inter Regular';
  font-size: 12px;
  border-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  line-height: 0;
}

/* sell section */

#sell {
  background-image: url("../../assets/img/sell-bg.png");
  background-position: center;
  overflow: hidden;
  background-size: 90% 90%;
}

.sell-section {
  background-repeat: no-repeat;
  position: relative;
}

#right-col-black-box {
  background-color: rgba(0, 0, 0, 0.5);
  width: 600px;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 130px;
}

#right-col-black-box h2 {
  color: white;
  margin-left: 20px;
}

/* Rent-Sell Form Section */

#rent-sell-form .nav-link:focus, .nav-link:hover {
  color: black;
}

#rent-sell-form .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: black;
  font-weight: bold;
}

#rent-sell-form .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 150px;
  height: 2px;
  background-color: gray;
  display: none;
}

/* Image Upload */

.form-label {
  cursor: pointer;
  padding: 50px 10px;
  margin-top: -15px;
}

.image-upload {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 5%;
}

.file-name-s-display {
  width: 100%;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;
  border: 1px solid gray;
}

.form-check {
  margin: 20px 75px;
  text-align: center;
}

.form-check-label {
  width: 700px;
  margin-left: 20px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

/* Captcha */

.g-recaptcha {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -78px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0;
}

/* Pop Page 1 */

#modal-page-1 {
  --bs-modal-border-width: 0;
}

#modal-page-1 .modal-header {
  border-bottom: none;
}

#modal-page-1 .container {
  margin: -30px 0;
}

#modal-page-1 span {
  color: red;
}

#modal-page-1 #single-name-display-popup {
  height: 100px;
}

#modal-page-1 .col-form-label {
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
  color: white;
  width: 150px;
}

/* Pop Page 2 */

#modal-page-2 {
  --bs-modal-border-width: 0;
}

#modal-page-2 .modal-header {
  border-bottom: none;
}

#modal-page-2 .container {
  margin: -30px 0;
}

#modal-page-2 span {
  color: red;
}

#modal-page-2 .dropdown button {
  position: relative;
  font-size: 15px;
  color: black;
  background-color: white;
  border: 1px solid gray;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 100;
  margin: 0;
}

#modal-page-2 #single-name-display-popup {
  height: 100px;
  margin: 10px 0;
}

#modal-page-2 .col-form-label {
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
  color: white;
  width: 150px;
}

#modal-page-2 .form-check {
  margin: 30px 0;
}

#modal-page-2 .form-check-label {
  margin: 0;
}

#modal-page-2 textarea {
  width: 100%;
  height: 150px;
}

#upload-col {
  border: 1px solid black;
}

#upload-row {
  border: 1px solid black;
  padding-right: 23px;
}

#formCheck-reserve {
  width: 30px;
  height: 30px;
}

#modal-page-2 .form-check label {
  font-size: 15px;
  width: 90%;
}

/* Modal Footer */

.modal-footer {
  border-top: none;
  margin-top: 25px;
}

.modal-footer .btn {
  position: relative;
  width: 145px;
  height: 40px;
  font-size: 15px;
}

.next-submit {
  background-color: gray;
}

/* Rent and Sell Grid */

#rent-grid, #sell-grid {
  padding-bottom: 50px;
}

.grid-heading {
  text-align: center;
  position: relative;
  margin-bottom: 75px;
}

.grid-heading::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 300px;
  height: 2px;
  background-color: gray;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  row-gap: 120px;
}

.grid div {
  width: 250px;
  height: 250px;
  background-image: url("../../assets/img/image-box.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid div p {
  font-size: 20px;
}

.button-box {
  margin-top: 140px;
  position: relative;
}

.button-box .view-more-btn {
  background-color: transparent;
  color: black;
  width: 200px;
  top: -100px;
  right: 0;
  line-height: 0;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

