.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(55, 55, 55, 0.95) !important;
  padding: 30px 0;
}

#footer-row {
  padding: 0 10px;
}

#footer-row p {
  font-family: 'Inter Thin BETA';
  font-size: 12px;
}

#footer-row h3 span {
  font-size: 20px;
}

#digital-blue {
  color: #407BFF;
}

#palm-green {
  color: #5BB92E;
}

#logo-col {
  position: relative;
}

#logo-col::after {
  content: '';
  position: absolute;
  background-color: white;
  height: 150px;
  width: 1px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

#logo-col img {
  width: 110px;
  display: block;
  margin: 10px auto;
}

#footer-logo {
  width: 100px !important;
  margin-bottom: 30px !important;
}

.footer-middle-col {
  text-align: start;
}

.footer-middle-col p:first-child {
  text-decoration: underline;
}

.footer-middle-col:not(#about-col) p:not(:first-child) {
  line-height: 0;
  font-size: 11px;
}

#footer-row #right-col div {
  height: 30px;
  width: 30px;
  background-color: #D9D9D9;
  display: inline-block;
  border-radius: 100%;
  margin: 0 5px;
}

#about-col p {
  width: 230px;
  text-align: justify;
}

