#footer-top-text {
  background-color: rgba(55, 55, 55, 0.95);
  font-family: 'Inter Thin BETA';
  font-size: 13px;
  font-weight: 500;
  line-height: 10px;
  padding: 15px 20px;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background: rgba(97, 97, 97, 0.95)!important;
}

#footer-row {
  padding: 0 10px;
}

#footer-row a {
  text-decoration: none;
  font-size: 13px;
}

#footer-row .item {
  padding: 15px;
}

#footer-row .item h3 {
  padding-bottom: 10px;
  position: relative;
}

#footer-row .item h3::after {
  content: '';
  width: 125px;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

#footer-logo span {
  font-size: 16px;
}

#digital-blue {
  color: #407BFF;
}

#palm-green {
  color: #5BB92E;
}

#footer-about-us p {
  max-width: 245px;
  font-family: 'Inter Thin BETA';
  font-size: 13px;
}

