#modal-sign .nav {
  border-bottom: solid black 2px;
  margin: 0 10px;
}

#modal-sign .nav-link {
  color: black;
  margin-left: 28px;
  margin-bottom: 10px;
  letter-spacing: 0;
}

#modal-sign .nav-item {
  padding-right: 12px;
  margin-top: 10px;
}

#modal-sign .nav-item:not(:first-child) {
  margin-left: -80px;
  border-left: solid black 2px;
  margin-top: 10px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: transparent;
  border-bottom: solid #384DBB 3px;
}

