* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* navbar */

#navigation {
  background-color: #373737F2;
  font-family: 'Inter Thin BETA';
  font-style: normal;
  height: 8vh;
  --bs-navbar-padding-x: 35px;
  top: -1px;
}

#nav-logo {
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}

#nav-logo, #navigation .nav-link {
  color: white;
  letter-spacing: 1px;
}

#navigation .nav-item {
  display: flex;
  align-items: center;
}

#navigation .nav-item {
  font-size: 15px;
}

#navigation .nav-item:not(:last-child) {
  margin-right: 50px;
}

#navigation .nav-item:nth-child(3) a {
  display: flex;
  align-items: center;
}

#navigation .dropdown a {
  color: white;
  text-decoration: none;
}

#navigation .dropdown-menu {
  background-color: gray;
  font-weight: bold;
}

#navigation .dropdown-menu a {
  font-weight: bold;
}

.nav-link .far {
  font-size: 25px;
  position: relative;
  top: 0;
  right: 5px;
}

section {
  min-height: 80vh;
  padding: 50px 0;
}

/* Modal Buyer's Guide */

#modal-buyers-guide .guide-container {
  background-color: #181D31;
  color: white;
}

.btn-close {
  opacity: 1;
}

/* Modal Reserve Now */

#modal-reserve-form .guide-container {
  background-color: #181D31;
  color: white;
}

#modal-reserve-form p span {
  color: red;
}

#modal-reserve-form p:not(.file-name-s-display) {
  margin: 20px 0 0;
}

#modal-reserve-form .col-form-label {
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
  width: 130px;
  text-align: center;
}

.fst-italic {
  font-weight: normal;
}

.image-upload {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 5%;
}

.file-name-s-display {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;
  border: 1px solid gray;
  margin-top: 1rem;
}

#reserve-row {
  text-align: center;
}

#formCheck-reserve {
  width: 30px;
  height: 30px;
  float: none;
}

.form-check-input {
  background-color: transparent;
  border: 2px solid white;
}

.form-check-label {
  width: 350px;
  margin-left: 20px;
  text-align: left;
  font-size: 16px;
}

.g-recaptcha {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -78px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0;
}

#modal-reserve-form .modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#modal-reserve-form .modal-footer button {
  width: 45%;
  display: inline-block;
}

#modal-reserve-form .modal-header h4 {
  width: 100%;
  text-align: center;
}

#btn-proceed {
  background-color: gray;
}

/* Overview */

#three-links {
  text-align: center;
}

#three-links a {
  text-decoration: none;
  margin: 0 25px;
  font-size: 25px;
  color: black;
}

.price-and-type {
  margin: 0;
}

.price-and-type:nth-of-type(1) {
  margin: 30px 0 0;
}

.price-and-type:nth-of-type(2) {
  margin: 0 0 30px;
}

#overview-left-col span {
  font-size: 17px;
  padding: 0 8px;
}

#overview-left-col span:nth-child(2) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#overview-right-col div {
  width: 400px;
  height: 400px;
  background-image: url("../../assets/img/wireframe-box.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

#overview-right-col button {
  background-color: white;
  border: 1px solid gray;
  color: black;
  display: inherit;
  margin: 15px auto;
  width: 200px;
}

#overview-right-col button.guide-btn {
  background-color: #407bff;
  color: white;
}

#map-col {
  height: 400px;
}

/* Location */

#location {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* Carousel */

#gallery .container {
  margin-top: 100px;
  margin-bottom: 100px;
}

#gallery .carousel-inner img {
  width: 100%;
  height: 100%;
}

#custCarousel .carousel-indicators {
  position: static;
  margin-top: 20px;
}

#custCarousel .carousel-indicators > li {
  width: 100%;
}

#custCarousel .carousel-indicators li img {
  display: block;
  opacity: 0.5;
}

#custCarousel .carousel-indicators li.active img {
  opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
  opacity: 0.75;
}

#gallery .carousel-item img {
  width: 80%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 60px;
  height: 60px;
}

.carousel-control-prev-icon {
  background-image: url("../../assets/img/gallery-carousel/Polygon-p.png");
}

.carousel-control-next-icon {
  background-image: url("../../assets/img/gallery-carousel/Polygon-n.png");
}

.carousel-control-prev, .carousel-control-next {
  margin: 0 -50px;
}

