* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header-image {
  background-image: url("../../assets/img/header-image.png");
}

#texts-and-button {
  text-align: center;
  color: white;
  position: absolute;
  margin: 100px 50px;
}

#texts-and-button h1 {
  font-size: 30px;
  font-weight: bold;
}

#header-button {
  position: relative!important;
  left: 0;
  top: 0;
}

.green-buttons {
  position: absolute;
  width: 170px;
  height: 26px;
  background-color: #5BB92E;
  border-radius: 10px;
  font-family: 'Inter Regular';
  font-size: 12px;
  border-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  line-height: 0;
}

#navigation {
  background-color: #373737F2;
  font-family: 'Inter Thin BETA';
  font-style: normal;
  height: 8vh;
  --bs-navbar-padding-x: 35px;
}

#nav-logo {
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}

#nav-logo, .nav-link {
  color: white;
  letter-spacing: 1px;
}

.nav-item:not(:last-child) {
  margin-right: 100px;
  font-size: 15px;
}

#sign-in-btn::before {
  content: '';
  background-color: white;
  width: 125px;
  height: 8vh;
  position: absolute;
  z-index: -1;
  right: 22px;
  bottom: 0;
}

#sign-in-btn a {
  color: black;
  font-family: 'Inter Regular';
  font-weight: bold;
}

section {
  min-height: 80vh;
}

/* Home Section */

.home-bg-images {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#home {
  background-image: url("../../assets/img/home-image.png");
  background-position: center;
  overflow: hidden;
}

#home-right-col {
  margin-top: 80px;
}

.float-text p {
  max-width: 500px;
  font-size: 20px;
  text-align: justify;
  font-style: italic;
  color: white;
  float: right;
  margin-right: 20px;
}

.logo {
  width: 450px;
  height: auto;
  margin-top: 100px;
}

.logo-brand {
  width: 700px;
  height: auto;
  float: right;
  margin-right: -80px;
  margin-bottom: -20px;
}

/* Contact Section */

#contact-us {
  background-color: #408DADCC;
  text-align: center;
  padding-top: 125px;
}

#contact-right-col {
  margin-left: 35px;
  font-family: 'Inter Regular';
}

#contact-right-col .card, #contact-right-col .card-body {
  background-color: #D9D9D9;
  border-radius: 30px;
  width: 700px;
}

#contact-right-col button {
  background-color: #4CA7CECC;
  font-size: 12px;
  width: 70px!important;
  height: 27px;
  line-height: 0;
}

#contact-left-col {
  margin-left: -50px;
  position: relative;
  color: white;
}

#contact-left-col h2 {
  font-family: 'Inter Regular';
}

#left-img {
  position: absolute;
  width: 352px;
  left: 60px;
  top: 100px;
}

