* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header-image {
  background-image: url("../../assets/img/header-image.png");
}

#texts-and-button {
  text-align: center;
  color: white;
  position: absolute;
  margin: 80px 50px;
}

#texts-and-button h1 {
  font-size: 30px;
  font-weight: bold;
}

#header-button {
  position: relative!important;
  left: 0;
  top: 0;
}

.green-buttons {
  position: absolute;
  width: 170px;
  height: 26px;
  background-color: #5BB92E;
  border-radius: 10px;
  font-family: 'Inter Regular';
  font-size: 12px;
  border-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  line-height: 0;
}

#navigation {
  background-color: #373737F2;
  font-family: 'Inter Thin BETA';
  font-style: normal;
  height: 8vh;
  --bs-navbar-padding-x: 35px;
  top: -1px;
}

#nav-logo {
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}

#nav-logo, .nav-link {
  color: white;
  letter-spacing: 1px;
}

#navigation .nav-item:not(:last-child) {
  margin-right: 100px;
  font-size: 15px;
}

#sign-in-btn::before {
  content: '';
  background-color: white;
  width: 125px;
  height: 8vh;
  position: absolute;
  z-index: -1;
  right: 22px;
  bottom: 0;
}

#sign-in-btn a {
  color: black;
  font-family: 'Inter Regular';
  font-weight: bold;
}

section {
  min-height: 80vh;
}

/* Home Section */

.home-bg-images {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#home {
  background-image: url("../../assets/img/home-image.png");
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#right-col-black-box {
  background-color: rgba(0, 0, 0, 0.5);
  width: 655px;
  height: 356px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.float-text p {
  margin: 0 auto;
  max-width: 500px;
  font-size: 17px;
  text-align: justify;
  font-style: italic;
  color: white;
}

.logo {
  width: 400px;
  height: auto;
}

.logo-brand {
  width: 600px;
  height: auto;
  margin-bottom: -20px;
  margin-top: -30px;
}

/* About Us */

#about-us {
  position: relative;
  background-image: url("../../assets/img/about/about-us-bg.png");
  background-size: cover;
}

#about-us-top-image {
  background-image: url("../../assets/img/about/about-us-top.png");
  height: 100px;
}

.top-images {
  width: 100%;
  position: absolute;
  background-size: contain;
  top: 0;
  height: 100%;
  background-repeat: no-repeat;
}

#center-box {
  background-image: url("../../assets/img/about/about-us-center-image.png");
  background-repeat: no-repeat;
  width: 785px;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-size: contain;
}

#center-box p {
  color: white;
  text-align: justify;
  margin-top: 30px;
  max-width: 575px;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
}

#about-left-col {
  border-right: 0.5px solid #000000;
}

#about-right-col {
  border-left: 0.5px solid #000000;
}

.black-boxes {
  width: 500px;
  height: 200px;
  background: #393939;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  margin: 0 auto;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.black-boxes p:nth-child(1) {
  font-size: 12px;
  margin: 20px;
}

.black-boxes p:nth-child(2) {
  font-size: 14px;
}

/* Contact Section */

#contact-us {
  background-color: #408DADCC;
  text-align: center;
  padding-top: 80px;
}

#contact-right-col {
  margin-left: 35px;
  font-family: 'Inter Regular';
}

#contact-right-col .card, #contact-right-col .card-body {
  background-color: #D9D9D9;
  border-radius: 30px;
  width: 700px;
}

#contact-right-col button {
  background-color: #4CA7CECC;
  font-size: 12px;
  width: 70px!important;
  height: 27px;
  line-height: 0;
}

#contact-left-col {
  margin-left: -50px;
  position: relative;
  color: white;
}

#contact-left-col h2 {
  font-family: 'Inter Regular';
}

#left-img {
  position: absolute;
  width: 352px;
  left: 60px;
  top: 100px;
}

