* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header-image {
  background-image: url("../../assets/img/header-image.png");
  position: relative;
}

#texts-and-button {
  text-align: center;
  color: white;
  position: absolute;
  margin: 130px 50px;
}

#texts-and-button h1 {
  font-size: 30px;
  font-weight: bold;
}

#header-button {
  position: relative!important;
  left: 0;
  top: 0;
}

.green-buttons {
  position: absolute;
  width: 170px;
  height: 26px;
  background-color: #5BB92E;
  border-radius: 10px;
  font-family: 'Inter Regular';
  font-size: 12px;
  border-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  line-height: 0;
}

#navigation {
  background-color: #373737F2;
  font-family: 'Inter Thin BETA';
  font-style: normal;
  --bs-navbar-padding-x: 35px;
}

#nav-logo {
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}

#nav-logo, .nav-link {
  color: white;
}

.nav-item:not(:last-child) {
  margin-right: 110px;
  font-size: 15px;
}

section {
  min-height: 100vh;
}

/* Home Section */

.home-bg-images {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#home {
  background-image: url("../../assets/img/home-image.png");
  position: relative;
  background-size: cover;
  background-position: center;
}

.float-text p {
    max-width: 500px;
    font-size: 20px;
    text-align: justify;
    font-style: italic;
    color: white;
    float: left;
    margin-left: 800px;
    margin-top: -250px;
  }

.logo{
  width: 450px;
  height: auto;
  margin-left: 120px;
  margin-top: 100px;
}

.logo-brand {
    width: 700px;
    height: auto;
    float: left;
    margin-left: 700px;
    margin-top: -380px;
  }

#home-buying-button {
  left: 342px;
  bottom: 50px;
}

/* Contact Section */

#contact-us {
  background-color: #408DADCC;
  text-align: center;
  padding-top: 125px;
}

#right-col {
  margin-left: 35px;
  font-family: 'Inter Regular';
}

#right-col .card, #right-col .card-body {
  background-color: #D9D9D9;
  border-radius: 30px;
  width: 700px;
}

#right-col button {
  background-color: #4CA7CECC;
  font-size: 12px;
  width: 70px!important;
  height: 27px;
  line-height: 0;
}

#left-col {
  margin-left: -50px;
  position: relative;
  color: white;
}

#left-col h2 {
  font-family: 'Inter Regular';
}

#left-img {
  position: absolute;
  width: 352px;
  left: 60px;
  top: 100px;
}
